<h1>Welcome to sEventBrite</h1>

<% if logged_in? %>
  <h1>You are logged in <%= current_user.username %></h1>

<% else %>
  <%= button_to "Login", '/login', method: :get%>
  <%= button_to "Sign Up", '/users/new', method: :get %>
<% end %>

