<h1>CHECK OUT ALL YOUR EVENTS BELOW</h1>
<br>

<h3>Logged In: <%= current_user.username %> </h3>

<% current_user.events.each do |event| %>
    <p><strong>EVENT: </strong></p>
    <b>title:</b> <%= event.title %><br>
    <b>event:</b>  <%= event.description %><br>
    <b>date:</b>  <%= event.date %><br>

<% end %>

https://github.com/coped/private-eventhttps://github.com/coped/private-events/blob/master/app/c#